


.home-page {
    display: flex;
    flex-direction: column;
}



.home-page {

    section {
        width: 100%;
        height: 100%;
        padding-bottom: 5vh;
        flex: 1;
        display: flex;
        align-items: center;
    }

    section>.container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .container>.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content>h1 {
        color: #333;
        font-size: 52px;
        font-weight: 900;

        animation: fadeIn 0.7s ease-in forwards;
        animation-delay: 0.1s;
        opacity: 0;

        text-shadow: 0px 1px 0px #ddd, 1px 3px 0px #ddd, 2px 4px 0px #ddd, 3px 5px 0px #ddd, 4px 6px 0px #ddd;
    }

    .content>hr {
        width: 100px;
        border: 2px solid #333;
        animation: fadeDown 0.3s ease forwards;
        animation-delay: 0.5s;
        opacity: 0;
    }

    .content>p {
        color: #333;
        width: fit-content;
        position: relative;
        font-size: 24px;
        animation: fadeDown 0.3s ease forwards;
        animation-delay: 0.7s;
        opacity: 0;
    }

    .flip-text-container {
        position: absolute;
        left: calc(100% + 8px);
        display: inline-block;
    }

    .content>a {
        display: inline-block;
        width: fit-content;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 40px;
        background-color: #333;
        border: 2px solid #333;
        transition: 0.3s;

        animation: fadeDown 0.3s ease forwards;
        animation-delay: 1s;
        opacity: 0;

        &:hover {
            background-color: #fff;
            color: #333;
        }
    }

    .sidebar>.sidebar-name {
        color: #333;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transform-origin: center;
        font-size: 44px;
    }

    .bottom-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contact-box {
        color: #333;
        display: flex;
        column-gap: 24px;
    }

    .contact-box>p {
        display: flex;
        column-gap: 12px;
    }

    .contact-box a:hover {
        text-decoration: underline;
    }

    .bottom-bar > .copyright {
        color: #333;
    }
}