*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

input, textarea {
  font: inherit;
  border: none;
  outline: none;
}