@import './reset.css';
@import './variables.css';
@import './header.css';
@import './pages/home.css';
@import './pages/about.css';
/* @import './pages/project.css';
@import './pages/board.css';
@import './pages/study.css'; */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#content {
    width: 94vw;
    height: calc(100% - 3vw);
    display: flex;
}

#content>div:first-child {
    flex: 1;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textIn {
    from {
        transform: scaleY(-1);
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes textOut {
    from {
        transform: scaleY(1);
        opacity: 1;
    }

    to {
        transform: scaleY(-1);
        opacity: 0;
    }
}

.flip-text {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    transform-origin: bottom;
}

.flip-in {
    animation: textIn 0.5s forwards;
}

.flip-out {
    animation: textOut 0.5s forwards;
}