@import './reset.css';
@import './variables.css';
@import './header.css';
@import './pages/home.css';
/* @import './pages/about.css';
@import './pages/project.css';
@import './pages/board.css';
@import './pages/study.css'; */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#content {
    width: 94vw;
    height: calc(100% - 3vw);
    display: flex;
}

#content > div:first-child {
    flex: 1;
}

